#slider {
    position: relative;
  }
  
  #slider .slider img {
    min-height: 400px;
    width: 100% !important;
  }
  
  #slider .context {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 1;
  }
  
  #slider .context h1 {
    font-size: 41px;
    line-height: 51px;
    font-family: Lora, serif;
  }
  
  #slider .context h1 span {
    color: #f34f3f;
  }
  
  #slider .context p {
    font-size: 17px;
    line-height: 29px;
    font-family: Lora, serif;
  }
  