footer {
    background: #fffbfa;
  }
  
  footer .item h6 {
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  
  footer a {
    font-size: 12px;
    -webkit-transition: color .3s;
    transition: color .3s;
  }
  
  footer a:hover {
    color: #f34f3f !important;
    text-decoration: none;
  }
  
  footer p {
    font-size: 12px;
  }